* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


.main-box {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/*** iteration1  ***/
.user-card-container {
  display: flex;
  gap: 5px;
  border: 1px solid black;
  width: 90%;
}

/*** iteration 2  ***/

.greetings-random-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.greeting-random-box {
  border: 1px solid black;
  padding: 10px;
}